openai
fastapi
pydantic
python-dotenv
uvicorn
pandas
numpy
scikit-learn
xgboost==1.7.6
imbalanced-learn==0.11.0
beautifulsoup4==4.12.2
shap
jinja2
weasyprint
pydyf>=0.11.0
cffi>=0.6
tinyhtml5>=2.0.0b1
tinycss2>=1.5.0
cssselect2>=0.8.0
pyphen>=0.9.1
pillow>=9.1.0
fonttools>=4.59.2